<!-- Header -->
<section id="header" class="full">
  <div class="center-layout">
    <p class="subtitle">
      It is not the strongest of the species that survives, nor the most
      intelligent, but the one most responsive to change.
    </p>
    <p class="caption">~ Charles Darwin, 1809</p>
  </div>
</section>
<!-- / Header -->

<!-- Introducion -->
<section id="introduction">
  <h2>Introduction.</h2>
  <app-introduction></app-introduction>
</section>
<!-- / Introducion -->

<!-- First example -->
<section id="first-example">
  <h2>Example 1 : Evolution of a sentence.</h2>
  <app-sentence-example></app-sentence-example>
</section>
<!-- / First example -->

<h2>Objectifs</h2>
<ul>
  <li>Raconter une histoire pour la lib</li>
  <li>Histoire autour d'un oiseau</li>
  <li>
    Histoire autour de références sur la génétique / évolution / darwin
  </li>
  <li>Header : GENETICA + quote stylé sur la génétique</li>
  <li>Inclure des phrases un peu poétiques</li>
  <li>Lister les avantages</li>
  <li>
    Faire un logo assez joli avec des formes géométriques simples et un oiseau
  </li>
  <li>Faire un fond coloré style dégradé / ciel</li>
  <li>Header & sidebar transparent</li>
</ul>

<h2>Exemples</h2>
<ol>
  <li>Phrase que s'auto-complete pour former une citation stylée</li>
  <li>
    Color picker qui s'adapte en fonction de celui sur lequel on clique. Il y
    aurait 10 nuancier différents, on en séléctionner ses 3 préférés et
    l'algorithme génétique va créer un nouveau set de 10 nuanciers à partir de
    ceux séléctionnés => Utilisation de mémoire ???
  </li>
  <li>Des oiseaux qui volent en groupe et suivent la souris</li>
</ol>
