<!-- Header -->
<section id="header" class="full">
  <div class="center-layout">
    <p class="subtitle">
      It is not the strongest of the species that survives, nor the most
      intelligent, but the one most responsive to change.
    </p>
    <p class="caption">~ Charles Darwin, 1809</p>
  </div>
</section>
<!-- / Header -->

<!-- Introducion -->
<section id="introduction">
  <h2>Introduction.</h2>
  <app-introduction></app-introduction>
</section>
<!-- / Introducion -->

<!-- First example -->
<section id="first-example">
  <h2>Example : Evolution of a sentence.</h2>
  <app-sentence-example></app-sentence-example>
</section>
<!-- / First example -->
