<p>
  In this example, we will try to evolve a chain of characters into a desired
  string. We start by generating a random chain of character of the same length
  than the desired string.
</p>
<p>
  Here, the problem is well defined. We start with a random string, and need to
  evolve it into a desired string. This example seems to be pointless because
  there is no practical need in it. It's just for the sake of the example.
  However, a more realistic problem would be to find a secret code. We would
  send a solution string to a black box mechanism and it would tell us how far
  our solution is to the secret code.
</p>
<p>
  One way to solve this problem would be to brute force and try every possible
  solution, but it would take a lot of time. Let's try to solve this problem
  using a genetic algorithm.
</p>
<h3># Random value function</h3>
<p>
  Given the length of the solution, we need to generate a random string of this
  length. Here we can do this using the code below. This random string will be
  our starting point.
</p>
<div class="holder">
  <button nbButton ghost status="primary" (click)="onUpdateRandomSentence()">
    <nb-icon icon="play-circle-outline"></nb-icon>
    Generate new random sentence
  </button>
  <p class="label">{{ randomSentence }}</p>
</div>
<pre>
  <code [highlight]="generateRandomSentence | functionName:'generateRandomSentence'" [languages]="['javascript']"></code>
</pre>
<p>
  Then we need to define an objective string. For this example, the objective
  string will remain hidden to have more suspense.
</p>

<label class="label" for="objectiveSentence">Objective sentence</label>

<h3># Encode and decode function</h3>
<p>
  To work, a genetic algorithm require a way to encode and decode a genome. For
  the clarity of this example, we will not use any encoding, and simply tell
  Genetically a string should be encoded into the same string. More on encoding
  and decoding later.
</p>

<pre>
  <code [highlight]="(encode | functionName:'encode') + '\t\r\n' + (decode | functionName:'decode')" [languages]="['javascript']"></code>
</pre>

<h3># Fitness function</h3>
<p>
  This is the interesting part. After generating a random sentence, Genetically
  will apply random changes to it, until it finds the objective sentence. But to
  do this properly, we need to tell Genetically if a sentence is a good one or
  bad one. With this information, Genetically will select sentences that are
  better and better, and will dump the ones that are bad.
</p>
<p>
  We provide this information about the quality of a sentence through a fitness
  function. This is a function that takes a sentence as input and return a
  number wich is called the fitness score. It represent the quality of the
  sentence. For our example, we will compute this fitness using a simple
  algorithm that measure the difference between two sequences. Using it, we tell
  Genetically that the closer a sentence is to the objective sentence, the
  better it is.
</p>

<pre>
  <code [highlight]='fitness | functionName: "fitness"' [languages]="['javascript']"></code>
</pre>

<!-- <input
  type="text"
  name="objectiveSentence"
  nbInput
  fullWidth
  [(ngModel)]="objectiveSentence"
  (input)="onUpdateRandomSentence()"
/> -->

<h3># Putting it all together</h3>
<p>
  With all thoses functions described, we are now ready to code code our first
  GeneticAlgorithm.
</p>

<pre>
  <code [highlight]='functionCodeGeneticAlgorithm' [languages]="['javascript']"></code>
</pre>

<h3># Evolution !!</h3>

<p>
  Now press the start button and watch the population evolve !
</p>

<app-genetic-environment
  [geneticAlgorithm]="geneticAlgorithm"
  (start)="onStartEnvironment()"
  (stop)="onStopEnvironment()"
>
</app-genetic-environment>

<p>
  Right now, you should see the fitness goes down to 32. Which is the minimum
  value it can achieve, and therefore it's best value.
</p>
