<p>
  Genetically is a Typescript library made for genetical algorithm. The goal of
  this library is to provide powerful tools to build Genetic algorithm.
</p>

<p>
  This library is inspired by Genetic Algorithm, the book by " Algorithmes
  génétiques exploration, optimisation et apprentissage automatique, by David-E
  Goldberg ".
</p>

<div class="img-center">
  <img src="assets/book-cover.jpg" alt="" height="300px" />
</div>

<p>
  With a few examples, we will discover the basics of genetical algorithm using
  Genetically. We will also discover how to use the library for basic creation
  of Genetical Algorithm.
</p>
